.view-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    .splash {
        position: absolute;
        visibility: visible;
        opacity: 1;
        transition: visibility 0.3s linear, opacity 0.3s linear;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        background-color: black;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                -webkit-animation:spin 4s linear infinite;
                -moz-animation:spin 4s linear infinite;
                animation:spin 4s linear infinite;
                @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
            }
        }
        &.inativo{
            visibility: hidden;
            opacity: 0;
        }
    }
    .login {
        padding: 50px;
        box-shadow: 0 0 30px black;
        border-radius: 10px;
        .logo {
            display: flex;
            justify-content: center;
            img {
                width: 150px;
            }
        }
        form {
            .botao {
                display: flex;
                justify-content: center;
                margin-top: 30px;
            }
            .inputs {
                margin: 10px 0;
            }
            .error_login {
                font-size: 15px;
                color: red;
                text-align: center;
                display: none;
                &.ativo {
                    display: unset;
                }
            }
        }
    }
}
